<section class="wow animate__fadeIn cover-background half-section" style="background-image: url(&quot;images/call-to-action-bg.jpg&quot;);">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 text-center d-flex flex-column flex-lg-row align-items-center justify-content-center">
                <span class="text-extra-large text-white-2 alt-font margin-30px-right md-no-margin-right md-margin-15px-bottom sm-w-100">We always stay with our clients and respect their business.</span>
                <a href="#" class="btn btn-white btn-small">Start a Project</a>
            </div>
        </div>
    </div>
</section>
