<section class="half-section parallax wow animate__fadeIn"  data-parallax-background-ratio="0.3" style="background-image: url('<%= image_url('colorful-humidity-glass.png') %>');">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 text-center d-flex align-items-center justify-content-center">
              <a href="#" class="btn btn-double-extra-large btn-transparent-white text-large text-uppercase d-table d-lg-inline-block md-margin-lr-auto">
                <img src="<%= image_url('logo-icon2.png') %>" class="w-50px sm-w-30px" />
                Book Appointment
                <img src="<%= image_url('logo-icon2.png') %>" class="w-50px sm-w-30px" />
              </a>
            </div>
        </div>
    </div>
</section>
