<%= render "shared/appointment" %>
<!-- start footer -->
<footer class="footer-standard">
    <div class="footer-widget-area padding-five-tb sm-padding-30px-tb">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2">
                <div class="col widget border-right border-color-extra-light-gray md-no-border-right md-margin-30px-bottom text-center text-sm-start">
                    <!-- start logo -->
                    <%= link_to root_path, class: "margin-20px-bottom d-inline-block" do %>
                      <%= image_tag('logo-black.png', class: "footer-logo") %>
                    <% end %>
                    <!-- end logo -->
                    <p class="text-small d-inline-block w-95 lg-w-100 xs-w-95">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <!-- start social media -->
                    <div class="social-icon-style-8 d-inline-block align-middle">
                        <ul class="small-icon mb-0">
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a class="twitter" href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a class="google" href="https://plus.google.com" target="_blank"><i class="fa-brands fa-google-plus-g"></i></a></li>
                            <li><a class="instagram" href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram me-0" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!-- end social media -->
                </div>
                <!-- start additional links -->
                <div class="col widget border-right border-color-extra-light-gray padding-45px-left md-padding-15px-left md-no-border-right md-margin-30px-bottom text-center text-sm-start">
                    <div class="widget-title alt-font text-small text-extra-dark-gray text-uppercase margin-10px-bottom font-weight-600">Additional Links</div>
                    <ul class="list-unstyled">
                        <li><a class="text-small" href="home-classic-corporate.html">Home Classic Corporate</a></li>
                        <li><a class="text-small" href="home-creative-business.html">Home Creative Business</a></li>
                        <li><a class="text-small" href="home-creative-designer.html">Home Creative Designer</a></li>
                        <li><a class="text-small" href="home-portfolio-minimal.html">Home Portfolio Minimal</a></li>
                        <li><a class="text-small" href="home-portfolio-parallax.html">Home Portfolio  parallax</a></li>
                        <li><a class="text-small" href="home-portfolio-personal.html">Home Portfolio Personal</a></li>
                    </ul>
                </div>
                <!-- end additional links -->
                <!-- start contact information -->
                <div class="col widget border-right border-color-extra-light-gray padding-45px-left md-padding-15px-left md-no-border-right xs-margin-30px-bottom text-center text-sm-start">
                    <div class="widget-title alt-font text-small text-extra-dark-gray text-uppercase margin-10px-bottom font-weight-600">Contact Info</div>
                    <p class="text-small d-inline-block d-md-block margin-15px-bottom w-80 md-w-70">POFO Design Agency<br> 301 The Greenhouse, Custard Factory, London, E2 8DY.</p>
                    <div class="text-small">Email: <a href="mailto:sales@domain.com">sales@domain.com</a></div>
                    <div class="text-small">Phone: +44 (0) 123 456 7890</div>
                    <a href="contact-us-modern.html" class="text-small text-uppercase text-decoration-underline">View Direction</a>
                </div>
                <!-- end contact information -->
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->

