<!-- start header -->
<header class="no-sticky">
    <!-- start navigation -->
    <nav class="navbar full-width-pull-menu navbar-top-scroll no-border-top nav-box-width no-transition">
        <!-- start navigation panel -->
        <div class="container-fluid nav-header-container h-100px sm-h-70px">
            <!-- start logo -->
            <div class="col-auto ps-0">
              <%= link_to root_path, title: "Kalyce", class: "logo" do %>
                <%= image_tag("logo-white.png", alt: "Kalyce") %>
              <% end %>
            </div>
            <!-- end logo -->
            <!-- start main menu -->
            <div class="col-auto pe-0">
                <div class="menu-wrap full-screen">
                    <div class="row g-0 h-100 justify-content-center">
                        <div class="col-md-6 p-0 text-center z-index-0 d-none d-md-flex flex-column justify-content-center">
                            <div class="z-index-minus1 opacity-medium bg-extra-dark-gray"></div>
                            <%= link_to root_path, title: "Kalyce" do %>
                              <%= image_tag("logo-white.png", alt: "Kalyce") %>
                            <% end %>
                            <div class="position-absolute bottom-50 text-center w-100 margin-30px-bottom">
                                <div class="text-small text-extra-medium-gray">&copy; 2024 POFO is Proudly Powered by <a href="http://www.themezaa.com/" title="ThemeZaa" class="text-extra-medium-gray text-deep-pink-hover" target="_blank">ThemeZaa</a></div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0 bg-white full-screen d-flex flex-column justify-content-center xs-padding-45px-tb">
                            <div class="w-100 overflow-auto">
                                <div class="h-100 w-100">
                                    <div class="h-100 w-100 align-middle padding-eighteen-lr alt-font link-style-2 lg-padding-fourteen-lr xs-padding-15px-lr">
                                        <!-- start menu -->
                                        <ul class="font-weight-600 no-padding-left">
                                            <!-- start menu item -->
                                            <li class="dropdown">
                                                <a href="javascript:void(0);">Home</a><span data-bs-toggle="dropdown" class="dropdown-toggle"></span>
                                                <ul class="dropdown-menu font-weight-300">
                                                    <li><a href="index.html">Classic corporate</a></li>
                                                    <li><a href="home-creative-studio.html">Creative studio</a></li>
                                                    <li><a href="home-portfolio-minimal.html">Portfolio minimal</a></li>
                                                    <li><a href="home-blog-personal.html">Blog personal</a></li>
                                                </ul>
                                            </li>
                                            <!-- end menu item -->
                                            <!-- start menu item -->
                                            <li class="dropdown">
                                                <a href="javascript:void(0);">Pages</a><span data-bs-toggle="dropdown" class="dropdown-toggle"></span>
                                                <ul class="dropdown-menu font-weight-300">
                                                    <li><a href="about-us-simple.html">About</a></li>
                                                    <li><a href="services-simple.html">Services</a></li>
                                                    <li><a href="contact-us-simple.html">Contact us</a></li>
                                                    <li><a href="team-simple.html">Team</a></li>
                                                    <li><a href="404.html">Additional pages</a></li>
                                                </ul>
                                            </li>
                                            <!-- end menu item -->
                                            <!-- start menu item -->
                                            <li class="dropdown">
                                                <a href="javascript:void(0);">Portfolio</a><span data-bs-toggle="dropdown" class="dropdown-toggle"></span>
                                                <ul class="dropdown-menu font-weight-300">
                                                    <li><a href="portfolio-full-width-masonry-overlay.html">Portfolio masonry</a></li>
                                                    <li><a href="portfolio-full-width-metro-overlay.html">Portfolio metro</a></li>
                                                    <li><a href="portfolio-full-width-image-gallery.html">Portfolio image gallery</a></li>
                                                    <li><a href="portfolio-boxed-grid-overlay.html">Portfolio grid</a></li>
                                                    <li><a href="single-project-page-01.html">Single project page</a></li>
                                                    <li><a href="portfolio-two-columns.html">Portfolio columns</a></li>
                                                </ul>
                                            </li>
                                            <!-- end menu item -->
                                            <!-- start menu item -->
                                            <li class="dropdown">
                                                <a href="javascript:void(0);">Blog</a><span data-bs-toggle="dropdown" class="dropdown-toggle"></span>
                                                <ul class="dropdown-menu font-weight-300">
                                                    <li><a href="blog-standard-full-width.html">Blog standard – full width</a></li>
                                                    <li><a href="blog-classic.html">Blog classic</a></li>
                                                    <li><a href="blog-list.html">Blog list</a></li>
                                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                                    <li><a href="blog-masonry.html">Blog masonry</a></li>
                                                    <li><a href="blog-simple.html">Blog simple</a></li>
                                                    <li><a href="blog-clean.html">Blog clean</a></li>
                                                    <li><a href="blog-images.html">Blog images</a></li>
                                                    <li><a href="blog-only-text.html">Blog only text</a></li>
                                                    <li><a href="blog-post-layout-01.html">Blog post layout 01</a></li>
                                                    <li><a href="blog-standard-post.html">Standard post</a></li>
                                                    <li><a href="blog-gallery-post.html">Gallery post</a></li>
                                                    <li><a href="blog-slider-post.html">Slider post</a></li>
                                                    <li><a href="blog-html5-video-post.html">HTML5 video post</a></li>
                                                    <li><a href="blog-youtube-video-post.html">Youtube video post</a></li>
                                                    <li><a href="blog-vimeo-video-post.html">Vimeo video post</a></li>
                                                    <li><a href="blog-audio-post.html">Audio post</a></li>
                                                    <li><a href="blog-blockquote-post.html">Blockquote post</a></li>
                                                    <li><a href="blog-full-width-post.html">Full width post</a></li>
                                                </ul>
                                            </li>
                                            <!-- end menu item -->
                                            <!-- start menu item -->
                                            <li class="dropdown">
                                                <a href="javascript:void(0);">Elements</a><span data-bs-toggle="dropdown" class="dropdown-toggle"></span>
                                                <ul class="dropdown-menu font-weight-300">
                                                    <li><a href="accordions.html">General elements</a></li>
                                                    <li><a href="progress-bar.html">Infographics / icons</a></li>
                                                    <li><a href="testimonials.html">Interactive elements</a></li>
                                                    <li><a href="heading.html">Text & containers</a></li>
                                                </ul>
                                            </li>
                                            <!-- end menu item -->
                                            <!-- start menu item -->
                                            <li class="dropdown">
                                                <a href="javascript:void(0);">Features</a><span data-bs-toggle="dropdown" class="dropdown-toggle"></span>
                                                <ul class="dropdown-menu font-weight-300">
                                                    <li><a href="transparent-header.html">Header styles</a></li>
                                                    <li><a href="footer-standard.html">Footer</a></li>
                                                    <li><a href="page-title-left-alignment.html">Page title</a></li>
                                                    <li><a href="single-image-lightbox.html">Gallery</a></li>
                                                </ul>
                                            </li>
                                            <!-- end menu item -->
                                        </ul>
                                        <!-- end menu -->
                                        <!-- start social links -->
                                        <div class="margin-fifteen-top">
                                            <div class="icon-social-medium padding-three-bottom">
                                                <a href="https://www.facebook.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
                                                <a href="https://twitter.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
                                                <a href="https://dribbble.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-dribbble" aria-hidden="true"></i></a>
                                                <a href="https://plus.google.com" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-google-plus-g" aria-hidden="true"></i></a>
                                                <a href="https://www.tumblr.com/" target="_blank" class="text-extra-dark-gray text-deep-pink-hover margin-one-lr"><i class="fa-brands fa-tumblr" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <!-- start social links -->
                                    </div>
                                </div>
                            </div>
                            <button class="close-button-menu" id="close-button"></button>
                        </div>
                    </div>
                </div>
                <!-- end main menu -->
                <button class="navbar-toggler mobile-toggle" type="button" id="open-button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <!-- end navigation panel -->
    </nav>
    <!-- end navigation -->
</header>
<!-- end header -->
