<section class="banner-section-ten">
       <div class="banner-carousel owl-carousel owl-theme default-nav">
		   	<% @banners.each do |banner| %>
               <div class="item">
			   		<video class="htms-video" poster="<%= url_for(banner.image) %>" autoplay loop muted playsinline>
			   			<source type="video/mp4" src="<%= url_for(banner.video) if banner.video.attached? %>">
			   		</video>
               </div>
			<% end %>
       </div>
</section>