<section class="pt-0 wow animate__fadeIn">
  <div class="container margin-100px-bottom">
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-0">
        <div class="col text-end">
            <%= image_tag('img/img9.png') %>
          </div>
          <div class="col">
            <%= image_tag('img/img10.png', class: "margin-30px-top") %>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto text-center">
              <p class="w-80 mx-auto d-inline-block sm-w-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
          </div>
      </div>
  </div>
</section>
